@model IEnumerable<FlightReservationSystem.Models.Flight>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Flight_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure_City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival_City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Flight_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival_Date)
            </td>
            <td>
               $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Book", "Book", new { /* id=item.PrimaryKey */ }) 
                
            </td>
        </tr>
}
    </tbody>
</table>
